PUBLIC_URL=https://bims-rabon-elyu.site

MONGO_ROOT_USERNAME=barangay_root
MONGO_ROOT_PASSWORD=<strong-mongo-root-password>

MONGO_APP_DATABASE=bims
MONGO_APP_USERNAME=barangay_app
MONGO_APP_PASSWORD=<strong-mongo-app-password>

PAYMONGO_SECRET_KEY=<paymongo-secret-key>


COMPOSE_FILE=docker-compose.prod.yml:docker-compose.proxy.yml
BIMS_HTTP_PORT=8081

